<html>
    <head>
      <title>Voting App</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
      <div id="wrap">
        <div class='container'>
          <%- include('partials/navAuth',{username:embedData.username, loggedIn:embedData.loggedIn})%>
          
          <div class='content jumbotron text-center'>
              
              <p>Below are polls created by you</p>
              <p>Select a poll to see the results</p>
              <ul class='list-group'>
                <%- include("partials/displayPolls.ejs",{polls:embedData.poll}) %>
              </ul>
          </div>
        </div>
      </div>
      <% include partials/footer.ejs %>
    </body>
</html>